body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.winter {
  background: url("./assets/wolf-1341881_1280.webp") no-repeat center center;
  background-size: cover;
}

.monsoon {
  background: url("./assets/rain-4421893_1280.jpg") no-repeat center center;
}
.summer {
  background: url("./assets/deckchairs-355596_1280.webp") no-repeat center
    center;
}
